.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
  
    background-color: #f4f4f4;
  }
  
  .login-page h1 {
    font-size: 2rem;
    margin: 0px 0px 1em 0px;
  }
  
  .login-page form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  }
  
  .login-page label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .login-page input {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .login-page button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .login-page button:hover {
    background-color: #0069d9;
  }
  
  .login-page p {
    font-size: 1.2rem;
    color: #dc3545;
    margin-top: 1rem;
  }